body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Oxygen, Ubuntu, sans-serif;
  color: #FA7268;
  background-color: #263056;
  /* background-image: linear-gradient(315deg, #ddcad9 0%, #d1b1cb 74%); */
  }

header {
  text-align: center;
  margin: 30px auto;
  background-color: white;
  width: 400px;
  height: 100px;
  padding: 1em;
  border-radius: 0.25em;
  box-shadow: 0 3px 0 #ddd;
}

header h2 {
  margin: 10px 0 0 0;
}

